## 1021 : [기초-입출력] 단어 1개 입력받아 그대로 출력하기(설명) 
1개의 단어를 입력받아 그대로 출력해보자.

In [1]:
a=input()
print(a)

하하
하하

## 1022 : [기초-입출력] 문장 1개 입력받아 그대로 출력하기(설명)
공백 문자가 포함되어 있는 문장을 입력받고 그대로 출력하는 연습을 해보자.

In [2]:
a=input()
print(a)

하하 하하
하하 하하

## 1023 : [기초-입출력] 실수 1개 입력받아 부분별로 출력하기(설명)
실수 1개를 입력받아 정수 부분과 실수 부분으로 나누어 출력한다.

In [3]:
a, b = input().split(".")
print(a)
print(b)

2.2323
2
2323

## 1024 : [기초-입출력] 단어 1개 입력받아 나누어 출력하기(설명)
단어를 1개 입력받는다.  
입력받은 단어(영어)의 각 문자를  
한줄에 한 문자씩 분리해 출력한다.  

입력: 단어(영어) 하나를 입력받는다. (단, 단어의 길이는 20자 이하이다.)  

출력: 단어의 문자(영어)를 하나씩 나누어 한 줄에 한 개씩 ' '로 묶어서 출력한다.

In [4]:
a = input()
for i in a :
    print("\'"+i+"\'")

abcde
'a'
'b'
'c'
'd'
'e'

## 1025 : [기초-입출력] 정수 1개 입력받아 나누어 출력하기(설명)
다섯 자리의 정수 1개를 입력받아 각 자리별로 나누어 출력한다.

In [5]:
n = input()
print("[%d]" %(int(n[0])*10000))
print("[%d]" %(int(n[1])*1000))
print("[%d]" %(int(n[2])*100))
print("[%d]" %(int(n[3])*10))
print("[%d]" %(int(n[4])*1))

12345
[10000]
[2000]
[300]
[40]
[5]

## 1026 : [기초-입출력] 시분초 입력받아 분만 출력하기(설명)
입력되는 시:분:초 에서 분만 출력해보자.

In [6]:
#1
hour, minute, second=input().split(":")
print(minute)

13:32:55
32

#2
time=input().split(":")
print(int(a[1]))

## 1027 : [기초-입출력] 년월일 입력 받아 형식 바꿔 출력하기(설명)
년월일을 출력하는 방법은 나라마다, 형식마다 조금씩 다르다.  
년월일(yyyy.mm.dd)를 입력받아, 일월년(dd-mm-yyyy)로 출력해보자.  
(단, 한 자리 일/월은 0을 붙여 두자리로, 년도도 0을 붙여 네자리로 출력한다.)

In [12]:
#1
year,month,day = input().split(".")
print("%02d-%02d-%04d" % (int(day),int(month),int(year)))

2012.2.2
02-02-2012

#2
year,month,day = input().split(".")
print(day.zfill(2),month.zfill(2),year.zfill(4),sep="-")

## 1028 : [기초-데이터형] 정수 1개 입력받아 그대로 출력하기2(설명)
정수 1개를 입력받아 그대로 출력해보자.  
(단, 입력되는 정수의 범위는 0 ~ 4,294,967,295 이다.)

In [17]:
a = input()
print(int(a))

4
4

## 1029 : [기초-데이터형] 실수 1개 입력받아 그대로 출력하기2(설명)

실수 1개를 입력받아 그대로 출력해보자.

In [19]:
a = float(input())
print("%.11f" % a)

2.312398798748967374
2.31239879875

## 1030 : [기초-데이터형] 정수 1개 입력받아 그대로 출력하기3(설명)
정수 1개를 입력받아 그대로 출력해보자.

In [20]:
a = input()
print(a)

56
56